@import "./reset.css";

/* ---------------------------------------------------- */
/*                                                      */
/* ---------------------------------------------------- */

:root {
    --app-dark-bg: #1a1d28;
    --app-light-bg: #f0f2f4;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
   }

body{
    background-color: var(--app-dark-bg);
}

main {
    height: 100vh;
    background: rgb(255, 0, 0)url(../img/racinggif.gif) center center / cover no-repeat;
}

.overlay {
    background: rgb(20 24 28 / .88);
    height: 100vh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}
.flexbox {
    display: flex;
}

h1, h2, p {
    color: #fff;
}

/* ---------------------------------------------------- */
/*        Header                                        */
/* ---------------------------------------------------- */

header {
    padding-top: 18px;
}

.btn-wrapper {
    position: relative;
    z-index: 1;
    width: 75%;
    text-align: right;
}
button {
    background-color: var(--app-green);
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
  }

  .bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
  }
.title {
    width: 25%;
}

h1 {
}

h1 span {
    color: var(--app-red)
}


/* ---------------------------------------------------- */
/*        Game                                          */
/* ---------------------------------------------------- */

.hidden {
    visibility: hidden;
}

.visibile {
    visibility: visible;
}

.result-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 29, 40, .5)
}

.result-card {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(54, 78, 230, .9);
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.results {
    width: 300px;
}

.results h2 {
    font-size: 34px;
    text-transform: uppercase;
}

h3 span {
    color: var(--app-red);
}

.results h3 {
    font-size: 24px;
    color: #fff;
    padding-bottom: 15px;
    text-align: left;
}
.btn-result-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.start-btn {
    background-color: var(--app-green);
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 4px;
    display: inline;
}

h2 span {
    color: var(--app-red);
}

.game-input > * {
    margin-bottom: 15px;
    gap: 60px;
}

.game-input {
    text-align: center;
}
.count-points {
    display: flex;
}

.timer .count, h3 {
    font-size: 24px;
}

.timer, .count {
    border-radius: 4px;
}

.timer {
    background-color: var(--app-purple);
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    width: 50%;
}

.count {
    background-color: var(--app-purple);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: #fff;
    width: 50%;
  }

.context {
    color: var(--app-red);
    font-size: 12px;
}

.fa-arrow-up {
    color: var(--app-light-bg);
    margin: 10px 0;
    font-size: 24px;
}

input[type="text"]{
    padding: 10px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--app-light-bg);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset;
    text-align: center;
    color: #1a1d28;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.output{
    width: 600px;
    height: 100px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.output p {
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 42px;
}

.output p span {
    color: var(--app-red);
}
